body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.companyName{
  font-family: Arial, Helvetica, sans-serif;
  color: #3b1d8f;
  font-weight: 36;
  margin-top: 7rem; 
}

.header{
  font-family: Arial, Helvetica, sans-serif;
  color: #3b1d8f;
  font-weight: 36;
  margin-top: 3rem; 
}

.welcome{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3b1d8f;
  text-align: center;
  font-style: italic;
  font-weight: 36;
}

.form-control{
  margin-bottom: 1rem !important;
}

.lableLogin{
  margin-left: 0.7rem;
}

#login, #loign1{
  margin-left: 0.9rem;
}

#loginButton{
  text-align: right;
  padding-right: 0;
}
#loginButton1, #signUpButton1, #okbtnSaveOwner, #okbtnSaveBike{
  background-color: #3b1d8f;
  width: 49%;
}

#cancelButton, #cancelbtnSaveOwner, #cancelbtnSaveBike {
  background-color:#e6e6e6;
  color: black;
  border-color: black;
  width: 49%;
}

#signUpButton{
  text-align: right;
}

#signUpBtn{
  text-align: right;
  padding-right: 5px;
}

#textSignUPBtn{
  text-decoration: underline;
}

#saveinfoOwnerActive, #saveinfoMotoBikeActive{
  background-color: #3b1d8f;
  border: 0;
  width: 100%;
}

#saveinfoOwner, #saveinfoMotoBike{
  background-color: #d4e3fc;
  border: 0;
  color: black;
  font-size: 16px;
}

#nav {
  background-color: #d4e3fc;
  background-image: url("./../img/nav_car.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 300px 150px;
  padding: 0;
}

#btnGroup {
  width: 100%;
}

